

.videoContainer {
    float: left;
    max-width: 320px;
}

.videoContainer-row{
   
    clear: both;
    
}
.wp-container {
   margin: 0;
  position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%)
}

body {
     height: 10em;
    position: relative }
}